*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 2rem;
    padding: 1rem;
}
form{
    margin: 2rem;
    padding: 1rem;
}
/* ***************** */
/* dialog boxes all */
/* ******************** */
.dialog{
    width: 50vw;
    height: 50vh;
    position: relative;
    margin: auto;
    
}
.top-bar{
    background-color: rgb(180, 180, 180);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 1.5em;
}
.close-button{
    background-color: rgba(255, 0, 0, 0.192);
    width: 1em;
    height: 1em;
    text-align: center;
    justify-self: flex-end;
    align-self: center;
    margin-right: 5px;
}
.close-button:after{
    display: inline-block;
    content: "\00d7"; 
}
h2 {
    text-align: center;
    margin: 0;
    margin-left: 10px; 
}
.dialog-content-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Folder */
.folder{
    font-size: 5rem;
}

/* Rechner Item */
.icon{
    width: 75px;
    height: 75px;
}
img{
    height: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border-radius: 5px;
}


.componentItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    max-height: 90vh;
}

body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/344/958/356/windows-10-windows-10-anniversary-logo-hd-wallpaper-preview.jpg);
    background-position: center;
    background-size: cover;
    /* display: flex;
    flex-direction: column;
    height: 100vh;
    
    border: 2px solid black; */
}
/* ******************* */
/* Footer */
/* ******************* */
footer{
   
    height: 6%;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    
    
    
    
}
.taskMenuWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
footer .startMenu{
    color: white;
    height: 100%;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    font-size: 2em;
}
footer .startMenu:hover{
    background-color: rgba(112, 112, 112, 0.233);
    color: rgba(84, 147, 241, 0.473);
}
footer .time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#startMenu{
    position: fixed;
    bottom: 6vh;
    padding: 5px;
    background-color: rgb(68, 67, 67);
    color: white;
    width: 23rem;
    text-align: center;
}
#startMenu h4{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
ul li{
    margin: 5px;
}